# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj/
_test/
_vendor/
.vscode/
.idea/
.DS_Store
mongo-data/

# Binary
main

# Dependency directories
/vendor/
/go.sum

# Log files
*.log

# Environment files
.env

testing/